@model ProjetoNess.Models.Pessoa
@{
    ViewBag.Title = "Excluir";
}


    <div class="page-wrapper">

        <div class="wrapper-form container5">
            <div class="box row">
                <div class="alert alert-danger">
                    <strong>Atenção!</strong> Deseja realmente excluir este registro?
                </div>
                <fieldset>
                    <legend>Detalhes da Pessoa</legend>
                    <div class="form-group">
                        <strong>Nome: </strong> @Model.Nome
                    </div>
                </fieldset>

                <hr />
                <form method="POST" action="">
                    <input type="hidden" value="@Model.Id" name="Id" id="Id" />
                    <p>
                        <button type="submit" class="btn btn-sm btn-info">Excluir</button>
                        <a href="@Url.Action("Index","Home")">Cancelar</a>
                    </p>
                </form>


            </div>
        </div>

    </div>